body{
    text-align: center;
    background-color: darkorange;
}
.heading{
    width: 80%;
    font-family: cursive;
}
#camera{
    width: 350px;
    height: 300px;
    border: black dotted;
}
